body{
    font-family: Arial, Baskerville, monospace;
    font-size: 15px;
}

.comite{
    font-size: 18px;
    font-weight: bold;
}

tr:nth-child(even){background-color: #f2f2f2}
.page-break {
    page-break-after: always;
}